body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #bfbfbf;
}
/*
{ color: #127369; }
{ color: #10403B; }
{ color: #8AA6A3; }
{ color: #4C5958; }
{ color: #BFBFBF; }
*/

.content {
  margin: auto;
  width: 50%;
  padding: 1em;
  text-align: center;
}

.message-view {
  margin: 1em auto;
  width: 20em;
  padding: 1em;
  background-color: #bfbfbf;
  border: 1px solid #127369;
  max-height: 50em;
  overflow-y: auto;
}

.message {
  list-style: none;
  font-family: monospace;
  text-align: left;
}

ul {
  margin: 2px;
  padding: 2px;
}

input[type="text"] {
  width: 20em;
}

input {
  border: 1px solid gray;
  padding: 0.5em 1em;
  margin: 0.25em 0.25em;
}

button {
  border: 1px solid gray;
  padding: 0.5em 1em;
  margin: 0.25em 0.25em;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  background-color: #127369;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
